:root {
    --light-color: white;
    --dark-color: black;
}

[data-theme=light] {
    --bg-color: var(--light-color);
    --font-color: var(--dark-color)
}

[data-theme=dark] {
    --bg-color: var(--dark-color);
    --font-color: var(--light-color);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
}

* {
    background-color: var(--bg-color);
    color: var(--font-color);
}